<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#673AB7" />
    <title>Pls - third time's the charm</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <link rel="stylesheet" href="https://aurora.datasektionen.se/" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript">
    window.methone_conf = {
        system_name: "pls",
        color_scheme: "deep_purple",
        login_text: "",
        login_href: "",
        links: [
            { str: "Hem", href: "/" }
        ]
    }
    </script>
</head>
<body>
    <div id="methone-container-replace"></div>
    <div id="application" class="deep-purple">
        <header>
            <div class="header-inner">
                <div class="row">
                    <div class="header-left col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h2>Pls</h2>
                    </div>
                    <div class="header-right col-md-2">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <div id="content">
            <div
                v-if="error"
                style="word-wrap: break-word;"
                class="alert alert-danger"
            >
                {{error}}
            </div>
            <h1>Användargrupper</h1>
            <div class="select">
                <select v-model="system">
                    <option value="">Välj system att administrera</option>
                    <option v-for="s in systems" @value="s">
                        {{ s }}
                    </option>
                </select>
            </div>
            <div class="select">
                <select v-model="group" @change="getGroup">
                    <option value="">Välj grupp att administrera</option>
                    <option v-for="g in filteredGroups" @value="g">
                        {{ g }}
                    </option>
                </select>
            </div>
            <span style="margin: 10px 20px;float:left;">eller...</span>
            <div class="add">
                <input type="text" style="" placeholder="skapa något nytt." @keyup.enter="createGroup" name="group" v-model="newGroup">
                <button @click="createGroup">+</button>
            </div>
            <div class="clear"></div>
            <div v-if="group">
                <h2>Användargrupp: {{ group }} <a href="#" class="close" @click="deleteGroup(group)">Ta bort</a></h2>

                <div class="row">

                    <div class="col-md-6">
                        <h3>Rättigheter</h3>
                        <p>Alla gruppens medlemmar har rättigheterna som visas nedan.</p>

                        <ul class="permissions">
                            <li v-for="permission in permissions">
                                {{ permission }}
                                <a href="#" class="close" @click="removePermission(permission)">x</a>
                            </li>
                            <li class="add">
                                <input type="text" placeholder="Rättighet" name="permission" @keyup.enter="addPermission" v-model="permission">
                                <button @click="addPermission" :disabled="permission.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-6">
                        <h3>Användare</h3>
                        <p>Här visas gruppens medlemmar.</p>
                        <ul class="permissions">
                            <li v-for="membership in memberships">
                                {{ membership.uid }}
                                <a href="#" class="remove" @click="removeUser(membership.uid)">x</a>
                                <span class="expiry">Utgångsdatum: {{ membership.expiry }}</span>
                            </li>
                            <li class="add ugly">
                                <input type="text" placeholder="Användarnamn" @keyup.enter="addUser" name="user" v-model="user">
                                <input type="date" placeholder="Utgångsdatum" @keyup.enter="addUser" name="expiry" v-model="expiry">
                                <button @click="addUser" :disabled="user.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h3>Funktionärsmedlemmar</h3>
                        <p>Email adresser till de funktionärer som automagiskt ska få gruppens rättigheter.</p>

                        <ul class="permissions">
                            <li v-for="mandate in mandates">
                                {{ mandate }}
                                <a href="#" class="close" @click="removeMandate(mandate)">x</a>
                            </li>
                            <li class="add">
                                <input type="text" placeholder="Epost" name="mandate" @keyup.enter="addMandate" v-model="mandate">
                                <button @click="addMandate" :disabled="mandate.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-6">
                        <h3>Tokenmedlemmar</h3>
                        <p>API-Key-as-a-Service?. En tagg skulle kunna vara: prometheus-prod, pelles-testnyckel. Du kommer få se din token här under när den skapats, men bara en gång!</p>

                        <p v-if="tokenflash.length"
                            style="word-wrap: break-word;"
                            class="alert alert-info">
                            Här är din nyckel: <br />{{tokenflash}}
                        </p>

                        <ul class="permissions">
                            <li v-for="token in tokens">
                                {{ token.tag }}
                                <a href="#" class="close" @click="removeToken(token.tag)">x</a>
                                <span>(last accessed: {{ token.accessed }})</span>
                            </li>
                            <li class="add">
                                <input type="text" placeholder="Tagg" name="tag" @keyup.enter="addToken" v-model="tag">
                                <button @click="addToken" :disabled="tag.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://methone.datasektionen.se/bar.js"></script>
    <script type="text/javascript">

    // Get token from url
    const token_url = location.search.substr(1).split("=")[1]
    // If token exists
    if (token_url) {
        var date = new Date();
        // Expire in 6 hours
        // Fun: the token from login can expire before this cookie expires
        // In that case you will simply get a 401...
        date.setTime(date.getTime() + (6*3600*1000));
        // Set cookie
        document.cookie = `token=${token_url}; expires=${date.toUTCString()}`
        // Remove "?token=***" part of url
        window.location = window.location.origin
    }

    var token = document.cookie.split("token=")[1]

    var app = new Vue({
        el: '#content',
        data: {
            group: '',
            newGroup: '',
            system: '',
            systems: [],
            groups: [],
            user: '',
            expiry: '',
            memberships: [],
            permission: '',
            permissions: [],
            mandate: '',
            mandates: [],
            tag: '',
            tokens: [],
            tokenflash: '',
            error: '',
        },
        created: function() {
            this.getGroups()
        },
        computed: {
            filteredGroups: function() {
                return this.groups.filter(g => g.split('.')[0] === this.system)
            },
            systems: function() {
                return this.groups.map(g => g.split('.')[0]).reduce((acc, d) => acc.includes(d) ? acc : acc.concat(d), [])
            }
        },
        methods: {
            apiWrapper: function(url, options) {
                return fetch(url, Object.assign({}, options, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(Object.assign({token}, options.body))
                })).then(res => {
                    if (!res.ok) {
                        res.text().then(t => {
                            this.error = `${res.status}: ${t}`
                            throw new Error(t)
                        })
                    } else {
                        return res.json()
                    }
                })
                .then(res => {
                    console.log(res)
                    this.error = ""
                    return Promise.resolve(res)
                })
            },
            getGroups: function() {
                fetch('/api/group')
                .then(res => res.json())
                .then(res => {
                    this.groups = res
                    if(this.groups.indexOf(this.group) != -1 && this.filteredGroups.length)
                        this.group = this.filteredGroups[0]
                })

            },
            getGroup: function() {
                fetch('/api/group/' + this.group)
                .then(res => res.json())
                .then(res => {
                    this.memberships = res.memberships
                    this.permissions = res.permissions
                    this.mandates = res.mandates
                    this.tokens = res.tokens
                })
            },
            createGroup: function() {
                var url = `/api/group/${this.newGroup}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    if(res.name == this.newGroup) {
                        this.groups.push(res.name)
                        this.system = res.name.split('.')[0]
                        this.group = res.name
                        this.getGroup()
                    }

                })
            },
            deleteGroup: function(group) {
                var url = `/api/group/${group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                        if(res[8] !== '0') // 1 or more rows were removed
                            this.groups.splice(this.groups.indexOf(group), 1)
                        if(this.groups.length)
                            this.group = this.groups[0]
                        else
                            this.group = ''

                        this.getGroup()
                    })
            },
            addPermission: function() {
                var url = `/api/group/${this.group}/${this.permission}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            removePermission: function(permission) {
                var url = `/api/group/${this.group}/${permission}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            addMandate: function() {
                var url = `/api/mandate/${this.mandate}/${this.group}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            removeMandate: function(mandate) {
                var url = `/api/mandate/${mandate}/${this.group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            addToken: function() {
                var url = `/api/token/${this.tag}/${this.group}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    console.log(res)
                    this.tokenflash = res.token || ''
                    this.getGroup()
                })
            },
            removeToken: function(tag) {
                var url = `/api/token/${tag}/${this.group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            addUser: function() {
                var url = `/api/user/${this.user}/${this.group}`
                var opt = {
                    method: 'POST',
                    body: {
                        expiry: this.expiry
                    }
                }
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            removeUser: function(user) {
                var url = `/api/user/${user}/${this.group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            }
        }
    })
</script>
</body>
</html>
