<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#e83d84" />
    <title>{{ title }} - Datasektionen.se</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <style type="text/css">
        button {
            display: block;
        }
    </style>
</head>
<body>
    <div id="app">
        <select name="group" v-model="group">
            <option v-for="group in groups" :value="group" >{{ group }}</option>
        </select>
        <input type="text" placeholder="group" name="group" v-model="newGroup">
        <button>Create {{ newGroup }}</button>
        <button>Delete {{ group }}</button>

        <input type="text" placeholder="permission" name="permission" v-model="permission">
        <button>Add {{ permission }} to {{ group }}</button>
        <button>Remove {{ permission }} from {{ group }}</button>

        <input type="text" placeholder="user" name="user" v-model="user">
        <input type="date" placeholder="expiry" name="expiry" v-model="expiry">
        <button>Add {{ user }} to {{ group }}</button>
        <button>Remove {{ user }} from {{ group }}</button>

    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                newGroup: "",
                extension: "",
                groups: [],
                group: "",
                user: "",
                expiry: "",
                permission: ""
            },
            methods: {
                createGroup: function() {},
                deleteGroup: function() {},
                addPermission: function() {},
                removePermission: function() {},
                addUser: function() {},
                removeUser: function() {}
            },
            created: function() {
                fetch('/api/group')
                    .then(res => res.json())
                    .then(res => this.groups = res)
            }
        });
    </script>
</body>
</html>
