<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0097a7" />
    <title>Pls - third time's the charm</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <link rel="stylesheet" href="https://aurora.datasektionen.se/" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript">
    window.tbaas_conf = {
        system_name: "pls",
        target_id: "tbaas",
        primary_color: "#7E57C2",
        secondary_color: "#fff",
        bar_color: "#673AB7",
        topbar_items: [
            { str: "Hem", href: "/" }
        ]
    }
    </script>
</head>
<body>
    <div id="tbaas"></div>
    <div id="application" class="deep-purple">
        <header>
            <div class="header-inner">
                <div class="row">
                    <div class="header-left col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h2>Pls</h2>
                    </div>
                    <div class="header-right col-md-2">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <div id="content">
            <h1>Användargrupper</h1>
            <div class="select">
                <select v-model="group" @change="getGroup">
                    <option value="">Välj grupp att administrera</option>
                    <option v-for="g in groups" @value="g">
                        {{ g }}
                    </option>
                </select>
            </div>
            <span style="margin: 10px 20px;float:left;">eller...</span>
            <div class="add">
                <input type="text" style="" placeholder="skapa en ny." @keyup.enter="createGroup" name="group" v-model="newGroup">
                <button @click="createGroup">+</button>
            </div>
            <div class="clear"></div>
            <div v-if="group">
                <h2>Användargrupp: {{ group }} <a href="#" class="close" @click="deleteGroup(group)">Ta bort</a></h2>

                <div class="row">

                    <div class="col-md-6">
                        <h3>Rättigheter</h3>
                        <p>Alla gruppens medlemmar har rättigheterna som visas nedan.</p>

                        <ul class="permissions">
                            <li v-for="permission in permissions">
                                {{ permission }}
                                <a href="#" class="close" @click="removePermission(permission)">x</a>
                            </li>
                            <li class="add">
                                <input type="text" placeholder="Rättighet" name="permission" @keyup.enter="addPermission" v-model="permission">
                                <button @click="addPermission" :disabled="permission.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-6">
                        <h3>Användare</h3>
                        <p>Här visas gruppens medlemmar.</p>
                        <ul class="permissions">
                            <li v-for="membership in memberships">
                                {{ membership.name }}
                                <a href="#" class="remove" @click="removeUser(membership.name)">x</a>
                                <span class="expiry">Utgångsdatum: {{ membership.expiry }}</span>
                            </li>
                            <li class="add ugly">
                                <input type="text" placeholder="Användarnamn" @keyup.enter="addUser" name="user" v-model="user">
                                <input type="date" placeholder="Utgångsdatum" @keyup.enter="addUser" name="expiry" v-model="expiry">
                                <button @click="addUser" :disabled="user.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h3>Funktionärsmedlemmar</h3>
                        <p>Email adresser till de funktionärer som automagiskt ska få gruppens rättigheter.</p>

                        <ul class="permissions">
                            <li v-for="mandate in mandate_members">
                                {{ mandate }}
                                <a href="#" class="close" @click="removeMandate(mandate)">x</a>
                            </li>
                            <li class="add">
                                <input type="text" placeholder="Epost" name="mandate" @keyup.enter="addMandate" v-model="mandate">
                                <button @click="addMandate" :disabled="mandate.length == 0">&plus;</button>
                                <div class="clear"></div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://methone.datasektionen.se"></script>
    <script type="text/javascript">
    var token = location.search.substr(1).split("=")[1]
    var app = new Vue({
        el: '#content',
        data: {
            group: '',
            newGroup: '',
            groups: [],
            user: '',
            expiry: '',
            memberships: [],
            permission: '',
            permissions: [],
            mandate: '',
            mandate_members: []
        },
        created: function() {
            this.getGroups()
        },
        methods: {
            apiWrapper: function(url, options) {
                return fetch(url, Object.assign({}, options, {
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(Object.assign({token}, options.body))
              })).then(res => res.json())
                .then(res => {
                    console.log(res)
                    return Promise.resolve(res)
                })
            },
            getGroups: function() {
                fetch('/api/group')
                .then(res => res.json())
                .then(res => {
                    this.groups = res
                    if(this.groups.indexOf(this.group) != -1 && this.groups.length)
                        this.group = this.groups[0]
                })

            },
            getGroup: function() {
                fetch('/api/group/' + this.group)
                .then(res => res.json())
                .then(res => {
                    this.memberships = res.memberships
                    this.permissions = res.permissions
                    this.mandate_members = res.mandate_members
                })
            },
            createGroup: function() {
                var url = `/api/group/${this.newGroup}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    if(res.name == this.newGroup) {
                        this.groups.push(res.name)
                        this.group = res.name
                        this.getGroup()
                    }

                })
            },
            deleteGroup: function(group) {
                var url = `/api/group/${group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                        if(res[8] !== '0') // 1 or more rows were removed
                            this.groups.splice(this.groups.indexOf(group), 1)
                        if(this.groups.length)
                            this.group = this.groups[0]
                        else
                            this.group = ''

                        this.getGroup()
                    })
            },
            addPermission: function() {
                var url = `/api/group/${this.group}/${this.permission}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            removePermission: function(permission) {
                var url = `/api/group/${this.group}/${permission}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            addMandate: function() {
                var url = `/api/mandate/${this.mandate}/${this.group}`
                var opt = {method: 'POST'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            removeMandate: function(mandate) {
                var url = `/api/mandate/${mandate}/${this.group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            addUser: function() {
                var url = `/api/user/${this.user}/${this.group}`
                var opt = {
                    method: 'POST',
                    body: {
                        expiry: this.expiry
                    }
                }
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            },
            removeUser: function(user) {
                var url = `/api/user/${user}/${this.group}`
                var opt = {method: 'DELETE'}
                this.apiWrapper(url, opt).then(res => {
                    this.getGroup()
                })
            }
        }
    })
</script>
</body>
</html>
